.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add img {
    width: 120px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.add-img-upload img {
    width: 120px;
    margin-bottom: 20px;
}

.add-product-name input, .add-product-description textarea {
    max-width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea {
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.add-category-price {
    display: flex;
    gap: max(2vw, 20px);
}

.add-category select, .add-price input {
    max-width: 120px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.add-btn:hover {
    background-color: #333;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add p {
    margin-bottom: 10px;
}